

<div class="page">
  <div class="accent-section">
    <% @articles.to_enum.with_index.reverse_each do |article, index| %>
    <% if index % 2 == 0 %>
      <section class="flex-container latest-articles">
        <%= link_to article_path(article), :class=>"half" do %>
        <% if article.featured_image.length  > 0%>
        <%= image_tag(article.featured_image.url, :alt => article.title, :class => "featured-image fw") %> 
        <% end %>
      <% end %>
        <div class="half tac">
          <%= link_to article_path(article) do %>
          <h2><%= article.title %></h2>
          <p><%= article.summary %></p>
          <% end %>
          <p>
            <% article.tag_list.each do | tag | %>
              <%= tag.title %> | 
            <% end %> 
          Jess Fang</p>
          <%= link_to 'Edit', edit_article_path(article) %>   | <%= link_to 'Delete', article_path(article),
              method: :delete,
              data: { confirm: 'Are you sure?' } %>   </div>
      </section>
      <% else %>
        <section class="flex-container latest-articles">
        <div class="half tac">
        <%= link_to article_path(article) do %>
          <h2><%= article.title %></h2>
          <p><%= article.summary %></p>
          <% end %>
          <p>
            <% article.tag_list.each do | tag | %>
              <%= tag.title %> | 
            <% end %> 
          Jess Fang</p>
          <%= link_to 'Edit', edit_article_path(article) %> | <%= link_to 'Delete', article_path(article),
              method: :delete,
              data: { confirm: 'Are you sure?' } %>
        </div>
        <%= link_to article_path(article), :class=>"half" do %>
        <% if article.featured_image.length  > 0%>

          <%= image_tag(article.featured_image.url, :alt => article.title, :class => "featured-image fw") %> 
        <% end %> 
        <% end %> 
      </section>
      <% end %>
    <% end %>
  </div>
</div>