<!DOCTYPE html>
<html>
  <head>
    <title>Gekksblog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <img src="/" alt="Gekks Blog" class="jlogo" />
      <ul>
        <a href="#"><li class="ttu text-green">Product</li></a>
        <a href="#"><li class="ttu text-green">Rex</li></a>
        <a href="#"><li class="ttu text-green">Lifestyle</li></a>
        <a href="#"><li class="ttu text-green">Fashion</li></a>
       </ul>
       <div class="search">
        <img src="/" alt="Search" class="search icon">
       </div>
       <div class="social">
        <a href="#"><img src="/" alt="Gekks" /></a>
        <a href="#"><img src="/" alt="Facebook" /></a>
        <a href="#"><img src="/" alt="Instagram" /></a>
        <a href="#"><img src="/" alt="Pinterest" /></a>
       </div>
    </header>
    <%= yield %>
  </body>
</html>
